@import '../../shared/styles/variable';
@import '../../shared/styles/base';
@import '../../shared/styles/mixins';



nav {
    margin: 1rem auto;
    width: 100%;
    display: flex;
    list-style: none;
    font-size: 1.3rem;

    ul {
        display: flex;
        align-items: end;

        h3 {
            width: 15rem;
            padding-right: 1rem;
            border-bottom: .1rem solid $bg-gray;
            padding: 0 1rem .6rem 3rem;
        }

        li {
            border-bottom: .1rem solid $bg-gray;
            width: 7rem;
            height: 3rem;
            display: flex;
            align-items: end;
            justify-content: center;
            padding-bottom: .6rem;
            font-weight: 500;
            color: $bg-blue;
            cursor: pointer;

            &:hover {
                @include border-radius(.3rem, .3rem, 0, 0);
                @include border-all($bg-gray);
                color: $bg-green;
            }
        }

        .active {
            color: $bg-green;
            @include border-all($bg-gray);
            @include border-radius(.3rem, .3rem, 0, 0);
            border-bottom: transparent;
        }
    }

    .home {

        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: end;
        padding-right: 3rem;
        color: $bg-red;
        cursor: pointer;
        border-bottom: .1rem solid $bg-gray;

        :hover {
            @include border-radius(.3rem, .3rem, 0, 0);
            color: $bg-green;
            @include border-all($bg-gray);
        }

        a {
            text-decoration: none;
            font-weight: 500;
            display: inline-block;
            width: 13rem;
            height: 3rem;
            text-align: center;
            color: $bg-blue;
            cursor: pointer;
            padding-top: .9rem;
        }
    }


}